.notfound-container {
  text-align: center;
  padding: 80px;
  color: #333;
  font-family: "Roboto", "Arial", sans-serif !important;
}

.back-home {
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  background: #2d85d1;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.back-home:hover {
  background: #013860;
}
