.scroll-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 30px;
  overflow: visible;
  .video-container {
    font-family: "Roboto";
    overflow: visible;
    .video-classname {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      transform-style: preserve-3d;
      will-change: transform;
      &:hover {
        transform: scale(1.05);
        box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.6);
        z-index: 1;
      }
      &:hover .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        font-family: sans-serif;
        font-size: 15px;
        font-weight: normal;
        color: white;
      }

      &:hover .play-icon {
        opacity: 1;
      }
      &:hover .play-text {
        opacity: 1;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0); // transparent by default
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      pointer-events: none;
    }
    .play-text {
      margin-bottom: 4px;
      opacity: 0;
    }
    .play-icon {
      font-size: 18px;
      color: white;
      opacity: 0;
      margin-bottom: 5px;
    }

    .thumbnails {
      border-radius: 10px;
      width: 100%;
      transition: inherit;
      cursor: pointer;
    }
    .video-duration {
      position: absolute;
      transition: inherit;
      bottom: 10px;
      right: 10px;
      color: #f8f8f8;
      background-color: rgba(0, 0, 0, 0.6);
      font-family: Roboto, Arial, sans-serif;
      font-size: 13px;
      font-weight: 500;
      padding: 3px;
      border-radius: 4px;
    }
    .video-title {
      font-size: 16px;
      color: rgb(15, 15, 15);
      cursor: pointer;
      font-weight: 500;
      max-height: 40px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 20px;
      margin-top: 8px;
    }
    .channel_image {
      width: 100%;
      border-radius: 50%;
      margin-top: 8px;
    }
    .channel {
      color: rgb(96, 96, 96);
      font-size: 14px;
      font-weight: 400;
      padding-right: 1.5px;
      text-wrap-mode: no-wrap;
      margin-top: 12px;
    }
    .check-icon {
      background-color: rgb(96, 96, 96);
      color: white;
    }
    .vedio-views {
      display: flex;
      gap: 5px;
      font-weight: 400;
      font-size: 14px;
      color: rgb(96, 96, 96);
      vertical-align: top;
      margin-top: 7px;
    }
    .video-age::before {
      color: rgb(96, 96, 96);
      content: "•";
      margin-right: 3px;
    }
    .video-description {
      display: grid;
      grid-template-columns: 38px 1fr;
      gap: 10px;
    }
  }
}
