.navbar {
  width: 93vw !important;
  .youtube-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 14px 0px 14px;
    background-color: white;
    height: 55px;
    position: fixed;
    top: 0;
    left: 10px;
    width: 100%;
    z-index: 100;
    .first-section,
    .middle-section,
    .last-section {
      display: flex;
      align-items: center;
    }

    .first-section {
      gap: 23px;
      .hamburger-menu {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      .youtube-icon {
        height: 20px;
      }
    }

    .middle-section {
      flex: 1;
      justify-content: center;
      .search-div {
        max-width: 670px;
        display: flex;
        width: 100%;
      }
      .search-bar {
        flex: 1;
        width: 0;
        height: 38.5px;
        padding: 0 4px 0 16px;
        margin-left: 40px;
        border-radius: 18px 0 0 18px;
        box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
        border: 1px solid #d3d3d3;
        background-color: white;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 16px;
        outline: none;
      }

      .search-icon {
        width: 64px;
        height: 40px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 40px 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .mic-icon {
        margin-left: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f2f2f2;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .last-section {
      width: 190px;
      gap: 20px;
      img {
        width: 24px;
        height: 24px;
      }
      .profile-section {
        display: flex;
        gap: 5px;
        align-items: center;
        border: 1px solid #ebe8e8;
        border-radius: 18px;
        justify-content: center;
        width: 95px;
        height: 33.5px;
        background-color: white;
        .sign-in-link {
          color: #065fd4;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto, Arial, sans-serif;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .youtube-header {
    left: 0px !important;
    padding: 5px 14px 8px 14px !important;
    .hamburger-menu {
      display: none;
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .last-section {
    width: 165px !important;
  }
  @media (max-width: 1200px) and (min-width: 950px) {
    .last-section {
      width: 192px !important;
    }
  }
}
