.navbar {
  width: 93vw !important;
  .youtube-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 14px 0px 14px;
    background-color: white;
    box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.05);
    height: 55px;
    position: fixed;
    top: 0;
    left: 10px;
    width: 100%;
    z-index: 100;
    .first-section,
    .middle-section,
    .last-section {
      display: flex;
      align-items: center;
    }

    .first-section {
      gap: 23px;
      .hamburger-menu {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
      .youtube-icon {
        height: 20px;
      }
    }

    .middle-section {
      flex: 1;
      justify-content: center;
      .back-arrow {
        display: none !important;
      }
      .search-div {
        max-width: 670px;
        position: relative;
        display: flex;
        width: 100%;
        .suggestions-list {
          font-weight: 400;
          position: absolute;
          top: 45px !important;
          left: 40px;
          right: 55px;
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          background-color: white;
          max-height: 500px;
          overflow-y: scroll;
          z-index: 1000 !important;
          &::-webkit-scrollbar {
            display: none;
          }
          /* Hide scrollbar - Firefox */
          scrollbar-width: none;
          .suggestion-item {
            padding: 10px 14px;
            font-size: 14px;
            list-style: none; // ✅ No bullet
            padding-left: 10px !important;
            cursor: pointer;
            &:hover {
              background-color: #f2f2f2;
            }
          }
        }
      }
      .search-bar {
        flex: 1;
        width: 0;
        height: 38.5px;
        padding: 0 4px 0 16px;
        margin-left: 40px;
        border-radius: 18px 0 0 18px;
        box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
        border: 1px solid #d3d3d3;
        background-color: white;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 16px;
        outline: none;
      }

      .search-icon {
        width: 64px;
        height: 40px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 40px 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .mic-icon {
        margin-left: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f2f2f2;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .last-section {
      width: 190px;
      gap: 20px;
      img {
        width: 24px;
        height: 24px;
      }
      .profile-section {
        display: flex;
        gap: 5px;
        align-items: center;
        border: 1px solid #ebe8e8;
        border-radius: 18px;
        justify-content: center;
        width: 95px;
        height: 33.5px;
        background-color: white;
        .sign-in-link {
          color: #065fd4;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          font-family: Roboto, Arial, sans-serif;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .youtube-header {
    left: 0px !important;
    padding: 5px 14px 8px 14px !important;
    .hamburger-menu {
      display: none;
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .last-section {
    width: 165px !important;
  }
  @media (max-width: 1200px) and (min-width: 950px) {
    .last-section {
      width: 192px !important;
    }
  }
}
@media (max-width: 550px) {
  .youtube-header {
    .last-section {
      justify-content: flex-end !important;
      margin: 0 20px;
      width: fit-content !important;
    }
    .middle-section {
      .search-bar {
        margin-left: 20px !important;
        width: 100% !important;
        height: 35px !important;
      }
      .suggestions-list {
        left: 0px !important;
        right: 0px !important;
      }
      .search-icon {
        width: 40px !important;
        height: 36.6px !important;
        border-radius: 0 22px 22px 0 !important;
      }
      .mic-icon {
        display: none !important;
      }
    }
  }
}
@media (max-width: 450px) {
  .youtube-header.search-active {
    .first-section,
    .last-section {
      display: none !important;
    }
    .middle-section {
      display: flex !important;
      justify-content: space-evenly !important;
      .search-bar {
        width: 100% !important;
        height: 30px !important;
        font-size: 14px !important;
        margin-left: 0 !important;
        padding: 0 12px;
        border-radius: 20px;
        border: 1px solid #ccc;
        outline: none;
        display: inline !important;
      }
      .suggestions-list {
        display: inline !important;
      }
      .back-arrow {
        display: inline !important;
        width: 24px;
        height: 24px;
        margin-left: -25px;
        cursor: pointer;
      }
      .search-icon,
      .mic-icon {
        display: none !important;
      }
    }
  }
}

@media (max-width: 450px) {
  .youtube-header {
    height: 40px !important;
    .middle-section .search-bar {
      display: none !important;
    }
    .search-div {
      width: 75% !important;
      margin-right: 24 !important;
      position: relative;
      .suggestions-list {
        display: none !important;
      }
    }
    .search-icon {
      width: 30px !important;
      height: 30px !important;
      background: none !important;
      border: none !important;
      &:hover {
        background-color: #f2f2f2 !important;
        border-radius: 50% !important  ;
      }
    }
  }
}
