.home {
  margin: 0 0 0 30px;

  p {
    font-style: Roboto, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .border {
    border: 1px solid #c6c6c6;
  }
}
@media (max-width: 550px) {
  .home {
    margin: 0 auto !important;
    width: 95vw !important;
  }
  .scroll-container {
    display: grid !important;
    grid-template-columns: 1fr !important;
    row-gap: 15px !important;
    .video-title {
      font-size: 14px !important;
    }
    .channel {
      font-size: 12px !important;
      margin-top: 5px !important;
    }
    .video-views {
      font-size: 12px !important;
      margin-top: 2px !important;
    }
  }
}
@media (max-width: 450px) {
  .scroll-container {
    .video-title {
      font-size: 14px !important;
      line-height: 18px !important;
    }
    .channel {
      font-size: 11px !important;
      margin-top: 0px !important;
    }
    .video-views {
      font-size: 11px !important;
      margin-top: 2px !important;
      flex-direction: row !important;
      align-items: center !important;
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .home {
    margin: 10px auto !important;
    width: 92vw !important;
  }
  .scroll-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    column-gap: 15px;
    row-gap: 20px;
    .channel {
      margin-top: 0px !important;
    }
  }
}
@media (max-width: 1200px) and (min-width: 950px) {
  .home {
    margin: 10px auto !important;
    width: 90vw;
  }
  .scroll-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    column-gap: 15px;
    row-gap: 20px;
    .channel {
      margin-top: 0px !important;
    }
  }
}
