.play-video {
  font-family: "Roboto", "Arial", sans-serif !important;
  h2 {
    margin: 0px;
  }
  border-radius: 12px;
  animation: fadeIn 0.8s ease-in-out;
  .video-section {
    .video-class {
      height: 83vh;
      width: 100%;
      border-radius: 15px;
      // margin: 10px 4% !important;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    }
    h2 {
      margin-top: 8px;
      font-size: 22px;
      color: #222;
    }
  }

  .publisher_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  .play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 5px;
    img {
      margin-right: 5px;
      width: 24px;
    }
    span {
      display: inline-flex;
      align-items: center;
      margin-right: 15px;
    }
    hr {
      height: 1px;
      background-color: #ccc;
      margin: 10px 0;
    }
  }

  .publisher {
    display: flex;
    align-items: center;
    margin-top: 15px;
    div {
      flex: 1;
      line-height: 20px;
      p {
        color: black;
        font-weight: 500;
        font-size: 17px;
      }
      span {
        font-size: 12px;
        color: #5a5a5a;
      }
    }
    button {
      height: 36px;
      width: 96px;
      background-color: black;
      color: white;
      padding: 8px 30px;
      border: 0;
      font-size: 14px;
      font-weight: 500;
      border-radius: 40px;
      font-family: "Roboto", "Arial", sans-serif;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .video-description {
    padding-left: 65px;
    margin: 5px 0 30px 0px;
    p {
      font-size: 14px;
      font-family: "Roboto";
      color: black;
      margin-bottom: 5px;
    }
  }
}
@media (max-width: 1300px) and (min-width: 950px) {
  .play-video {
    padding: 5px 0px 5px 0px !important;
    h2 {
      margin-top: 5px !important;
    }
    .play-video-info {
      margin-top: 7px !important;
      hr {
        margin: 5px 0 !important;
      }
    }
    .video-class {
      height: 70vh !important;
    }
  }
}
@media (max-width: 950px) and (min-width: 800px) {
  .play-video {
    padding: 0 !important;
    .video-class {
      height: 60vh !important;
    }
  }
}
@media (max-width: 800px) and (min-width: 550px) {
  .play-video {
    padding: 0 !important;
    .video-class {
      height: 45vh !important;
    }
  }
}
@media (max-width: 550px) {
  .play-video {
    .video-class {
      height: 37vh !important;
      border-radius: 0 !important;
    }
    h2 {
      margin: 5px 0px 0px 5px !important;
      font-size: 14px !important;
      max-height: 40px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 20px;
    }
    .publisher_img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      object-fit: cover;
    }
    .play-video-info {
      margin: 5px 0px 0px 5px !important;
      font-size: 12px;
      p {
        font-size: 12px !important;
        margin-right: 30px;
      }
      span {
        margin-right: 7px;
      }
      img {
        width: 18px;
      }
      .play-video-actions {
        margin-top: 4px !important;
      }
    }
    .publisher {
      margin: 5px 5px 0px 0px;
      div {
        font-size: 15px;
        p {
          font-size: 14px;
        }
      }
      button {
        font-size: 10.5px;
        height: 25px;
        width: 65px;
        border-radius: 20px;
        font-weight: 400;
      }
    }
    .video-description {
      padding-left: 15px;
      margin: 5px 0 30px 0px;
      p {
        font-size: 12px;
        color: #5a5a5a;
      }
    }
  }
}
@media (max-width: 450px) and (min-width: 400px) {
  .play-video {
    margin-top: 390px !important;
    .video-class {
      height: 35vh !important;
    }
  }
}
@media (max-width: 400px) and (min-width: 350px) {
  .play-video {
    margin-top: 350px !important;
    .video-section {
      .video-class {
        height: 30vh !important;
      }
    }
  }
}
@media (max-width: 350px) and (min-width: 300px) {
  .play-video {
    margin-top: 327px !important;
    .video-section {
      .video-class {
        height: 25vh !important;
      }
    }
  }
}
@media (max-width: 450px) {
  .play-video {
    margin-top: 345px;
    .video-section {
      position: fixed;
      top: 48px;
      z-index: 150 !important;
      background-color: white;
      .video-class {
        border-radius: 0;
      }
    }
  }
}
@media (max-width: 450px) {
  .play-video-on-search-active {
    margin-top: -10px !important;
    .video-section {
      position: unset !important;
      background-color: white;
      .video-class {
        border-radius: 0;
      }
    }
  }
}
@media (max-width: 317px) {
  .play-video {
    margin-top: 330px;
  }
}
@media (max-width: 325px) and (min-width: 317px) {
  .play-video {
    margin-top: 320px;
  }
}
// @media (min-width: 325px) and (max-width: 345px) {
//   .play-video {
//     margin-top: 325px;
//   }
// }
// @media (min-width: 345px) and (max-width: 380px) {
//   .play-video {
//     margin-top: 320px;
//   }
// }
// @media (min-width: 380px) and (max-width: 410px) {
//   .play-video {
//     margin-top: 350px;
//   }
// }
// @media (max-width: 450px) and (min-width: 410px) {
//   .play-video {
//     margin-top: 370px;
//   }
// }
