.play-container {
  background: white;
  padding: 0 2% 20px 0;
  justify-content: center;
  margin: 30px 30px 30px 40px;
}
.play-container-on-expand-sidebar {
  margin-left: 110px !important;
  padding-right: 0px !important;
}
@media (max-width: 450px) {
  .play-container {
    margin: 0 2px 0 2px !important;
    padding: 0px !important;
  }
  .play-container-on-expand-sidebar {
    margin-right: 10 !important;
    padding-right: 0px !important;
  }
}
@media (max-width: 550px) and (min-width: 450px) {
  .play-container {
    margin: 20 auto !important;
    padding: 0px !important;
  }
  .play-container-on-expand-sidebar {
    margin-left: 30px !important;
    padding-right: 0px !important;
  }
}
@media (max-width: 950px) and (min-width: 550px) {
  .play-container {
    margin: 20 auto !important;
    padding: 0px !important;
  }
  .play-container-on-expand-sidebar {
    margin-left: 30px !important;
    padding-right: 0px !important;
  }
}
@media (max-width: 1200px) and (min-width: 950px) {
  .play-container-on-expand-sidebar {
    margin-left: 110px !important;
    padding-right: 0px !important;
  }
}
